
/*Community style start*/

.community{
	background-color: #fff;
	padding: 50px 0px;
}

.community-mid{
	width: 1080px;
	margin: auto;
}

.community-heading{
	width: 35%;
	margin: auto;
}

.community-heading h1{
	text-align: center;
	border-top: 1px solid #4898BB;
	border-bottom: 1px solid #4898BB;
	color: #4898BB;
	font-size: 58px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding: 10px 0px;
	width: 100%;
	box-sizing: border-box;
}

.community .community-mid > p{
	text-align: center;
	font-size: 28px;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	color: #4898a8;
	margin-top: -20px;
}

.community-content{
	width: 95%;
	margin: 90px auto 0px auto;
}

.community-content p{
	color: #003438;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	line-height: 30px;
	margin-top: 30px;
}

.community-content p a{
	text-decoration: none;
	color: #4898a8;
	transition: .2s;
}

.community-content p a:hover{
	color: #5aaf50;
}

.community-content p span{
	font-weight: 700;
}

/*Community style start*/

/*Events style start*/

.events{
	background-color: #fff;
	padding: 50px 0px 100px 0px;
}

.events-mid{
	width: 1080px;
	margin: auto;
}

.events .events-mid h1{
	font-size: 52px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	color: #4898a8;
	text-align: left;
}

.events-section{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.events-sec{
	flex: 0 0 32%;
	padding: 30px 0px;
	text-align: center;
	border: 1px solid #ddd;
	box-shadow: 0px 5px 30px -5px #eee;
	margin-bottom: 50px;
	position: relative;
}

.events-image{
	width: 90%;
	margin: auto;
	height: 200px;
	position: relative;
	margin-bottom: 40px;
}

.events-image img{
	width: 100%;
	height: 100%;
}

.events-sec h3{
	text-transform: capitalize;
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 10px;
	color: #4898a8;
	font-family: 'Lato', sans-serif;
}

.events-sec h4{
	font-size: 22px;
	margin-bottom: 10px;
	color: #003438;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

.events-sec p{
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 400;
	color: #003438;
	line-height: 25px;
	font-family: 'Lato', sans-serif;
	padding: 0px 20px 30px 20px;
}

.events-sec a{
	position: absolute;
	padding: 15px 30px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	background-color: #4898a8;
	text-transform: capitalize;
	left: 50%;
	bottom: -23px;
	transform: translateX(-50%);
	margin-top: 10px;
	transition: .4s;
	font-size: 16px;
}

.events-sec a:hover{
	background-color: #5aaf50;
}

.events-sec::before{
	content:'';
	position: absolute;
	height: 0px;
	left: 0px;
	top: 0px;
	border-left: 2px solid #4898a8;
	transition: .4s;
}

.events-sec::after{
	content:'';
	position: absolute;
	height: 0px;
	right: 0px;
	bottom: 0px;
	border-right: 2px solid #4898a8;
	transition: .4s;
}

.events-sec:hover::before{
	height: 50%;
}

.events-sec:hover::after{
	height: 50%;
}

.events-sec:hover i{
	background-color: #ff7720;
	color: #fff;
}

.events-section-two{
	width: 66%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.events-sec-two{
	flex: 0 0 48%;
	padding: 30px 0px;
	text-align: center;
	border: 1px solid #ddd;
	box-shadow: 0px 5px 30px -5px #eee;
	margin-bottom: 50px;
	position: relative;
}

.events-image-two{
	width: 90%;
	margin: auto;
	height: 200px;
	position: relative;
	margin-bottom: 40px;
}

.events-image-two img{
	width: 100%;
	height: 100%;
}

.events-sec-two h3{
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 10px;
	color: #4898a8;
	font-family: 'Lato', sans-serif;
}

.events-sec-two h4{
	font-size: 22px;
	margin-bottom: 10px;
	color: #003438;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

.events-sec-two p{
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 400;
	color: #003438;
	line-height: 25px;
	padding-bottom: 30px;
	font-family: 'Lato', sans-serif;
	padding: 0px 20px 30px 20px;
}

.events-sec-two a{
	position: absolute;
	padding: 15px 30px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	background-color: #4898a8;
	border: 1px solid #4898a8;
	left: 50%;
	bottom: -23px;
	transform: translateX(-50%);
	margin-top: 10px;
	transition: .4s;
	font-size: 16px;
}

.events-sec-two a:hover{
	background-color: #5aaf50;
	border: 1px solid #5aaf50;
}

.events-sec-two::before{
	content:'';
	position: absolute;
	height: 0px;
	left: 0px;
	top: 0px;
	border-left: 2px solid #4898a8;
	transition: .4s;
}

.events-sec-two::after{
	content:'';
	position: absolute;
	height: 0px;
	right: 0px;
	bottom: 0px;
	border-right: 2px solid #4898a8;
	transition: .4s;
}

.events-sec-two:hover::before{
	height: 50%;
}

.events-sec-two:hover::after{
	height: 50%;
}

.events-sec-two:hover i{
	background-color: #ff7720;
	color: #fff;
}

/*Events style end*/

/*Meetups style start*/

.meetups{
	background-color: #fff;
	padding: 0px 0px 100px 0px;
}

.meetups-mid{
	width: 1080px;
	margin: auto;
}

.meetups .meetups-mid h1{
	font-size: 52px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	color: #4898a8;
	text-align: left;
}

.meetups-section{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.meetups-sec{
	flex: 0 0 32%;
	padding: 30px 0px;
	text-align: center;
	border: 1px solid #ddd;
	box-shadow: 0px 5px 30px -5px #eee;
	margin-bottom: 50px;
	position: relative;
	box-sizing: border-box;
}

.meetups-image{
	width: 90%;
	margin: auto;
	height: 200px;
	position: relative;
	margin-bottom: 40px;
}

.meetups-image img{
	width: 100%;
	height: 100%;
}

.meetups-sec h3{
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 10px;
	color: #4898a8;
	font-family: 'Lato', sans-serif;
}

.meetups-sec h4{
	font-size: 22px;
	margin-bottom: 10px;
	color: #003438;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

.meetups-sec p{
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 400;
	color: #003438;
	line-height: 25px;
	padding-bottom: 30px;
	font-family: 'Lato', sans-serif;
	padding: 0px 20px 30px 20px;
}

.meetups-sec a{
	position: absolute;
	padding: 15px 30px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	background-color: #4898a8;
	left: 50%;
	bottom: -23px;
	transform: translateX(-50%);
	margin-top: 10px;
	transition: .4s;
	font-size: 16px;
}

.meetups-sec a:hover{
	background-color: #5aaf50;
}

.meetups-sec::before{
	content:'';
	position: absolute;
	height: 0px;
	left: 0px;
	top: 0px;
	border-left: 2px solid #4898a8;
	transition: .4s;
}

.meetups-sec::after{
	content:'';
	position: absolute;
	height: 0px;
	right: 0px;
	bottom: 0px;
	border-right: 2px solid #4898a8;
	transition: .4s;
}

.meetups-sec:hover::before{
	height: 50%;
}

.meetups-sec:hover::after{
	height: 50%;
}

.meetups-sec:hover i{
	background-color: #ff7720;
	color: #fff;
}

/*Meetups style end*/

/*Video style start*/

.video{
	width: 100%;
	height: 500px;
	background-image: url(images/bbv.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 10px;
}

.video-blur{
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .8);
	overflow: hidden;
	padding-bottom: 10px;
}

.video-mid{
	width: 1080px;
	margin: auto;
}

.video h1{
	color: #4898a8;
	font-size: 62px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

.video-section{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.video-sec{
	flex: 0 0 48%;
}

.video-sec iframe{
	width: 100%;
}


/*Video style end*/

/*Trusted by style here*/

.trust{
	background-color: #516e7a;
	padding-bottom: 100px;
	overflow: hidden;
}

.trust-mid{
	width: 1080px;
	margin: auto;
}

.trust-mid h1{
	text-align: center;
	margin-top: 50px;
	font-size: 52px;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
	color: #fff;
}

.trust-mid hr{
	width: 99%;
	height: 4px;
	border: none;
	background-color: #4898A8;
	margin-bottom: 20px;
}

.slider{
	width: 100%;
	height: 200px !important;
	margin: auto;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}

.slider img{
	margin-right: 10px;
}

/*Trusted by style end*/


/*Sign up style here*/

.sign-up{
	height:100%;
	width: 100%;
	background-color: #525455;
	overflow: hidden;
	padding-bottom: 50px;
	position: relative;
	z-index: 3;
}


.sign-up::before {
    content:'';
    display: block;
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.2;
	background-image: url(images/bg2.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}


.sign-up:after{
	content:'';
	display: block;
	clear: both;
}

.sign-up-mid{
	width: 1080px;
	margin: auto;
	position: relative;
	z-index: 4;
}

.sign-up-left{
	width: 49%;
	float: left;
	margin-right: 10px;
}

.sign-up-right{
	width: 49%;
	float: left;
}

.sign-up-left h1{
	width: 96%;
	color: #fff;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	font-size: 32px;
	margin-top: 100px;
}

.sign-up-left p{
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	line-height: 30px;
}

.sign-up-left ul{
	line-height: 30px;
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	margin-left: 20px;
	margin-bottom: 20px;
}

.sign-up-left input[type="text"]{
	display: block;
	width: 100%;
	padding: 15px 15px;
	box-sizing: border-box;
	margin-bottom: 10px;
	font-size: 16px;
	color: #666;
	border-radius: none;
	font-family: 'Lato', sans-serif;
	z-index: 3;
}

.sign-up-left input[type="submit"]{
	display: block;
	width: 113px;
	padding: 12px 22px;
	color: #fff;
	background-color: #4898a8;
	border: 1px solid #4898a8;
	font-family: 'Lato', sans-serif;
	border-radius: 4px;
	cursor: pointer;
	transition: .4s;
	margin-bottom: 30px;
	z-index: 3;
}

.sign-up-left input[type="submit"]:hover{
	background-color: #5aaf50;
	border: 1px solid #5aaf50;
}

.sign-up-left h4{
	font-weight: 100;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	color: #fff;
}

.sign-up-right img{
	width: 100%;
	margin-left: 30px;
	margin-top: 105px;
}
