{{ partial "head.html" . }} {{ partial "header.html" . }}



<!-- About start section -->

	
<div class="about">
	<div class="about-mid">
		<h1>ABOUT JUMPING RIVERS</h1>
		<h3>Leading experts in data science training solutions.</h3>
		<p>Jumping Rivers has delivered quality data insights from day 1. Based in Newcastle and founded in 2016, the company is bringing a fresh approach to the world of data analytics. Our trainers and consultants come with over 40 years combined experience in R, Python, Stan, Scala and other programming languages. We have worked with some of the largest (and smallest) companies in the world.</p>
	</div>
</div>


<!-- About end section -->



<!-- Team start section -->

	
<div class="team-1">
	<div class="team-mid">
		<h1>MEET YOUR TEAM</h1>

		<div class="members">
			<div class="member">
				<img src="/images/m1.jpg" alt="">
				<h1>Esther Gillespie</h1>
				<h4>CEO</h4>
				<hr>
				<p>Esther makes Jumping Rivers tick. Her goal is to help clients plan for the future. This means ensuring that what happens now, fits into their big picture.</p>
			</div>

			<div class="member">
				<img src="/images/m2.jpg" alt="">
				<h1>Dr Colin Gillespie</h1>
				<h4>Project Manager</h4>
				<hr>
				<p>As well as working at Jumping Rivers, Colin is also Senior Statistics Lecturer at Newcastle University. Colin has been using R since 1999. He's the author of a number of R packages and has published the book Efficient R Programming with O'Reilly.</p>
			</div>

			<div class="member">
				<img src="/images/m3.jpg" alt="">
				<h1>Dr Jamie Owen</h1>
				<h4>Lead Trainer</h4>
				<hr>
				<p>Jamie Owen has been teaching R since 2011. He has run over thirty training courses, with topics ranging from introduction to R to advanced analytics. Over the last five years, Jamie has taught courses at a variety of Universities, government agencies and some of the largest UK companies.</p>
			</div>

			<div class="member">
				<img src="/images/m4.jpg" alt="">
				<h1>Theo Roe</h1>
				<h4>Data Scientist</h4>
				<hr>
				<p>Theo holds a 1st Class Honours MMathStat in Mathematics & Statistics from Newcastle University. He has been with Jumping Rivers for over 2 years now, authoring four of Jumping Rivers courses and working with a range of clients.</p>
			</div>

			<div class="member">
				<img src="/images/m5.jpg" alt="">
				<h1>Dr Roman Popet</h1>
				<h4>Data Scientist</h4>
				<hr>
				<p>Roman has over 10 years experience in data science ﬁrst as a post-doctoral researcher in biological sciences and then as a consultant data scientist. Roman has published over 15 papers in internationally recognised, peer-reviewed journals. His work has been covered in popular media outlets such as the Times, The BBC and The Metro. </p>
			</div>

			<div class="member">
				<img src="/images/m6.jpg" alt="">
				<h1>Sebastian Mellor</h1>
				<h4>Data Engineer</h4>
				<hr>
				<p>Sebastian has a 1st Class Honours MMathStat in Mathematics & Statistics from Newcastle University. He worked at the leading interaction design and ubiquitous computing research group, Open Lab, for ﬁve years. He has multiple publications on machine learning, sensor deployments and infrastructure, and data visualisation.</p>
			</div>

			<div class="member">
				<img src="/images/m7.jpg" alt="">
				<h1>Dr Rhian Davies</h1>
				<h4>Data Scientist</h4>
				<hr>
				<p>Rhian loves using statistics to help people make data driven decisions. As a data scientist, she has worked closely with varied domain experts including physicists, psychologists, game designers and engineers. She's also a keen communicator and enjoys helping people understand statistical principles.</p>
			</div>

			<div class="member">
				<img src="/images/m8.jpg" alt="">
				<h1>Anmol Hussain</h1>
				<h4>Finance Officer</h4>
				<hr>
				<p>Anmol holds a BA hons in Accounting and Financial Management, with ACCA and CIMA exemptions and a degree in Msc International Financial Analysis. He takes responsibility for the company's day to day financial administration, interacting with clients, partners and the Jumping Rivers team.</p>
			</div>

			<div class="member">
				<img src="/images/m9.jpg" alt="">
				<h1>Deborah Washington</h1>
				<h4>Project Operation Manager</h4>
				<hr>
				<p>Deborah is responsible for Jumping Rivers' office support and has extensive organisational and project management experience. As Admin Manager, Deborah works across the organisation, with its management and data scientists, to maintain and deliver customer requirements and assist the team's daily pursuits and objectives. </p>
			</div>
		</div>

		<div class="members-2">
			<div class="member-2">
				<img src="/images/m10.jpg" alt="">
				<h1>Jack Walton</h1>
				<h4>Data Scientist</h4>
				<hr>
				<p>Jack is working towards a PhD in mathematics at Newcastle University. He is devoted to sharing his knowledge and expertise and is a regular contributor on Stack Overflow. As well as this, Jack enjoys the challenge of creating insightful visualisations from noisy and messy datasets</p>
			</div>

			<div class="member-2">
				<img src="/images/m11.png" alt="">
				<h1>John McIntyre</h1>
				<h4>Data Scientist</h4>
				<hr>
				<p>John holds a 2:1 Bachelor of Science degree in Statistics from Newcastle University. He is a Data Scientist who is passionate about using statistical methods in software packages such as R, to help clients benefit from the data they possess.</p>
			</div>
		</div>
		
	</div>
</div>


<!-- Team end section -->



<!-- Francis start section  -->	

<div class="francis">
	<div class="francis-mid">
		<h1>NHS Scotland</h1>
		<p>"Pace of delivery was just right, good mix of walked through examples and practical exercises. The course was clearly and methodically taught, the practical examples were realistic, and the tutors were friendly and approachable. Instructors - really friendly, helpful and patient."</p>
	</div>
</div>

<!-- Francis end section  -->



<!-- Sector start section-->


<div class="sector">
	<div class="sector-mid">
		<h1>SECTOR EXPERTS</h1>
		
		<div class="images">
			<div class="img">
				<div class="image">
					<div class="content-1">
						<h1>BANGKING</h1>
					</div>
				</div>
			</div>

			<div class="img">
				<div class="image">
					<div class="content-2">
					<h1>PUBLIC SERVICES</h1>
					</div>
					
				</div>
			</div>

			<div class="img">
				<div class="image">
					<div class="content-3">
						<h1>EDUCATION</h1>
					</div>
				</div>
			</div>

			<div class="img">
				<div class="image">
					<div class="content-4">
						<h1>BUSINESS</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Sector end section-->




<!-- Sign up start section  -->

<div class="sign-up">
	<div class="sign-up-mid">
		<div class="sign-up-left">
			<h1>JOIN JUMPING RIVERS MONTHLY NEWSLETTER</h1>
			<p>Like data science? R? Python? Stan? Then you’d love the Jumping Rivers newsletter! The perks of being part of the Jumping Rivers family are:</p>
			<ul>
				<li>Be the ﬁrst the know about the latest courses! </li>
				<li>Discounts on the latest courses! </li>
				<li>News on the latest techniques with the Jumping Rivers blog!</li>
			</ul>
			<input type="text" placeholder="Your Name">
			<input type="text" placeholder="Your Email">
			<input type="submit" value="SIGN UP">
			<h4>We keep your data secure and never share your details.</h4>
		</div>
		<div class="sign-up-right">
			<img src="/images/signup.jpg" alt="">
		</div>
	</div>
</div>

<!-- Sign up end section  -->



{{ partial "footer.html" . }}