{{ partial "head.html" . }} {{ partial "header.html" . }}



<!-- Help start section -->

<div class="help">
	<div class="help-mid">
		<h1>Jumping Rivers can help you with:</h1>

		<div class="help-section">
			<div class="help-sec">
				<h1> <i class="fa fa-wrench"></i> <span>Installation</span> </h1>
				<p>Expert guidance with:</p>

				<ul>
					<li>RStudio Products</li>
					<li>User Authentication</li>
					<li>Infrastructure Integration</li>
					<li>Cloud Solutions</li>
				</ul>
			</div>

			<div class="help-sec">
				<h1> <i class="fa fa-cogs"></i> <span>Development</span> </h1>
				<p>Expert Shiny guidance</p>

				<ul>
					<li>Deployment</li>
					<li>Security Health Check</li>
					<li>Scaling and Modularisation</li>
					<li>Production Deployment</li>
				</ul>
			</div>

			<div class="help-sec">
				<h1> <i class="fa fa-briefcase"></i> <span>Workflows</span> </h1>
				<p>Reproducible workflows:</p>

				<ul>
					<li>Package Management</li>
					<li>Version Control</li>
					<li>Templates</li>
					<li>Development Lifecycle</li>
				</ul>
			</div>
		</div>

		<div class="help-images">
			<div class="help-img">
				<img src="/images/help-img1.svg" alt="">
			</div>

			<div class="help-img">
				<img src="/images/help-img2.jpg" alt="">
			</div>
		</div>
	</div>
</div>

<!-- Help end section -->


<!-- RStudio start section -->

<div class="rstudio">
	<div class="rstudio-mid">
		<h1> <i class="fa fa-wrench"></i> RStudio Infrastructure Support </h1>

		<div class="rstudio-section">
			<div class="rstudio-sec">
				<h2>Reactive | Base Level <span>Monthly Support</span> </h2>
				<p>Reactive Provides:</p>
				<ul>
					<li>Test and update services on your version of RStudio Connect and your R packages</li>
					<li>Ensure correct implementation</li>
					<li>Provide a basic system health check (https, content security policies, SQL – SQL injections)</li>
					<li>Fix and fine-tune any problems</li>
					<li>Provide an updates report</li>
					<li>Conduct a monthly maintenance check-up</li>
					<li>Check the security of your dashboard data</li>
					<li>Cover all major quarterly updates</li>
				</ul>
				<div class="rstudio-link">
					<a href="#">ASK ABOUT REACTIVE <i class="fa fa-angle-double-right"></i></a>
				</div>
			</div>

			<div class="rstudio-sec">
				<h2>Proactive | Intermediate Level <span>Monthly Support</span> </h2>
				<p>Proactive Provides:</p>
				<ul>
					<li><span>All</span> features of reactive</li>
					<li>Provide email responses to queries or issues within two working days of reporting</li>
					<li>Conduct real-time monitoring of CPU, RAM and other usage statistics</li>
					<li>Conduct an annual security assessment to include authentication integration and SSL certificates</li>
					<li>Conduct a code review and optimisation</li>
					<li>Verify your packaging and publishing</li>
					<li>Check your model consultation</li>
				</ul>
				<div class="rstudio-link">
					<a href="#">ASK ABOUT PROACTIVE <i class="fa fa-angle-double-right"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="rstudio-mid-two">
		<div class="rstudio-section-two">
			<div class="rstudio-sec-two">
				<p>As an RStudio Partner, we provide RStudio Connect support to meet a wide variety of complexities and levels of customisation and can host and maintain all RStudio products.</p>
				<p>We can advise you on in-house or cloud solutions for your full data science pipeline and save your time by providing day-to-day support for your RStudio Connect subscription.</p>
			</div>

			<div class="rstudio-sec-two">
				<p>We ensure value for money, with the correct configuration of your RStudio Connect package and confirmation of its safe and secure deployment. We’ll also work to review any existing R/Shiny applications for the correct efficiency and security, for your added peace of mind.</p>
				<p>We’re here to make sure everything’s set up with RStudio Connect as it should be – that your onboarding is successful and that your resources are sufficient for your expected usage – so you get the most from your annual software licence fee.</p>
			</div>
		</div>

		<p>Getting started with our RStudio Connect support is simple, whatever level of help you need.</p>
		<div class="rstudio-link-two">
			<a href="#">ASK ABOUT OUR ONGOING SUPPORT <i class="fa fa-angle-double-right"></i></a>
		</div>
		<p>We understand that transforming, modelling and visualising data can be challenging when moving from your laptop or server. Jumping Rivers helps you take that data and pass it up your wider organisation – and to the outside world – safely, securely and in a format that your audience understands with one button deployment.</p>

		<div class="rstudio-section-three">
			<div class="rstudio-sec-three">
				<h2><i class="fa fa-file-powerpoint"></i> Big Data and Beyond</h2>
				<ul>
					<li>Databases</li>
					<li>Scaling RStudio</li>
					<li>Data Security</li>
				</ul>
			</div>

			<div class="rstudio-sec-three">
				<h2><i class="fa fa-users"></i> Big Data and Beyond</h2>
				<ul>
					<li>Consistent Process</li>
					<li>Development of Agile Processes</li>
					<li>Reduce Development Times</li>
				</ul>
			</div>
		</div>

		<div class="rstudio-link-two">
			<a href="#">GET STARTED TODAY <i class="fa fa-angle-double-right"></i></a>
		</div>

		<h1 class="heading-bottom">Ready to take R to the next level? </h1>

		<div class="rstudio-section-four">
			<div class="rstudio-sec-four">
				<p>Whether you want help to take R beyond your laptop or are already using R in your enterprise and are ready to progress even further, the team at Jumping Rivers can help you.</p>
			</div>

			<div class="rstudio-sec-four">
				<p>We’re familiar with the problems that people use R to solve, whether it’s security, fast business intelligence or simplifying IT in an R environment.</p>
			</div>
		</div>
	</div>
</div>

<!-- RStudio end section -->


<!-- Using start section -->

<div class="using">
	<div class="using-mid">
		<div class="using-section">
			<div class="using-sec">
				<h1>Using R on your laptop?</h1>
				<h1>Ready to move to the next level?</h1>
				<p>We’ll use Rstudio to help you:</p>
				<ul>
					<li>Take information out across your enterprise with confidence</li>
					<li>Import data from your databases and data sources</li>
					<li>Analyse your data by accessing it and tidying it at speed</li>
					<li>Start understanding data by transforming it, visualising it with imagery and modelling it with statistics</li>
					<li>Communicate your findings throughout your organisation securely and simply with apps documents or plots</li>
					<li>Make business decisions based on accurate data</li>
					<li>Take actions based on real-time information</li>
					<li>Improve your data science process</li>
				</ul>
			</div>

			<div class="using-sec">
				<h1>Using R for your enterprise?</h1>
				<h1>Want additional R environment support?</h1>
				<p>We’ll use Rstudio to help you:</p>
				<ul>
					<li>Run R and R-related software at an enterprise level, supporting user authentication, reproducibility and scalability</li>
					<li>Work with confidence, providing security in an R environment for your dashboard, with an added security health check for your peace of mind</li>
					<li>Save time and costs by deploying automated reporting throughout your organisation in a secure, sensible and easy way</li>
					<li>Include best practice in your data science process</li>
					<li>Build an effective data science team</li>
				</ul>
			</div>
		</div>

		<div class="using-image">
			<div class="using-img">
				<img src="/images/use1.png" alt="">
			</div>

			<div class="using-img">
				<img src="/images/use2.png" alt="">
			</div>

			<div class="using-img">
				<img src="/images/use3.png" alt="">
			</div>

			<div class="using-img">
				<img src="/images/use4.png" alt="">
			</div>

			<div class="using-img">
				<img src="/images/use5.png" alt="">
			</div>
		</div>
	</div>
</div>

<!-- Using end section -->


<!-- RStudio-certified start section -->

<div class="rstudio-certified">
	<div class="rstudio-certified-mid">
		<h1>We are RStudio Full Service Certified Partners</h1>
		<p class="rone">RStudio helps you speed up your business intelligence and reduce your IT overheads, all in a certified secure environment. Jumping Rivers is authorised to resell RStudio professional products and as an RStudio Full Service Certified Partner, can support your work in the R environment.</p>

		<div class="rstudio-certified-list">
			<ul>
				<li>Improved Security.  Always a high priority</li>
				<li>Faster Business Integration</li>
				<li>Simplified IT within your organisation</li>
			</ul>

			<ul>
				<li>Helping you to scale quickly</li>
				<li>Reducing your IT overhead and support requests</li>
				<li>Maximising your use of Rstudio in your organisation</li>
			</ul>
		</div>

		<div class="rstudio-certified-link">
			<a href="#">HELPING YOU WITH R AND RSTUDIO <i class="fa fa-angle-double-right"></i></a>
		</div>

		<div class="qout">
			<p>"Certification by RStudio empowers our partners and gives them access to technical resources and information beyond that which is available to our regular customers. The support you receive, whether you come to us directly or via Jumping Rivers, will be identical because we work in close collaboration – that means everyone you speak to will be able to help. But with Jumping Rivers, you’ll get the added benefit of localised and specialised reseller support.”</p>

			<p>Dave Hurst, Director of Business Development, RStudio, California</p>
		</div>

		<p class="rtwo">Join companies like NHS Scotland and The Institute and Faculty of Actuaries and learn how Jumping Rivers can help you use RStudio products to transform big data, the data science processes within your organisation and build your data science team.</p>
	</div>
</div>

<!-- RStudio-certified end section -->


<!-- Engineer start section -->

<div class="engineer">
	<div class="engineer-mid">
		<div class="engineer-section">
			<div class="engineer-sec">
				<img src="/images/team.jpg" alt="">
			</div>

			<div class="engineer-sec">
				<p>“We understand that transforming, modelling and visualising data is relatively straightforward on your laptop or server. Jumping Rivers helps you take that data and pass it up your wider organisation – and to the outside world – safely, securely and in a format that your audience understands with one button deploymenteller.”</p>
				<p>Sebastian Mellor, Data Engineer, Jumping Rivers</p>
			</div>
		</div>
	</div>
</div>

<!-- Engineer end section -->


<!-- Bespoke start section -->

<div class="bespoke">
	<div class="bespoke-mid">
		<h1>Bespoke support</h1>
		<p class="bespoke-para">The Jumping Rivers team also offers regular support packages if your organisation is already enjoying the benefits of working with RStudio. We'll help you to keep up-to-date with any app updates or developments so that everything keeps working smoothly.</p>

		<div class="bespoke-link">
			<a href="#">ASK ABOUT OUR ONGOING SUPPORT <i class="fa fa-angle-double-right"></i></a>
		</div>
		<div class="bespoke-image">
			<img src="/images/bespoke.png" alt="">
		</div>

		<div class="director-section">
			<div class="director-sec">
				<img src="/images/team2.jpg" alt="">
			</div>

			<div class="director-sec">
				<p>“We’re a proud member of the R community, and we understand what R can do – and its fascinating quirks. That’s why we’re delighted to be an RStudio Full Service Certified Partner and Reseller.”</p>
				<p>Colin Gillespie, Director, Jumping Rivers</p>
			</div>
		</div>
	</div>
</div>

<!-- Bespoke end section -->


<!-- Dave start section -->

<div class="dave">
	<div class="dave-mid">
		<div class="dave-section">
			<div class="dave-sec">
				<img src="/images/dave.jpg" alt="">
			</div>

			<div class="dave-sec">
				<p>“One of the things that always impresses me about working in and around R is the community, which feels different than it does to other languages. Whether you’re already in the tribe, or you’re the IT person tasked with finding a solution – talk to Colin and the team and let’s find out what we can do together.”</p>
				<p>Dave Hurst, Director of Business Development, RStudio, California</p>
			</div>
		</div>
	</div>
</div>

<!-- Dave end section -->


<!-- Added start section -->

<div class="added">
	<div class="added-mid">
		<h1>Added value with Jumping Rivers</h1>

		<div class="added-section">
			<div class="added-sec">
				<ul>
					<li>Access to timely support in your timezone</li>
					<li>A face-to-face relationship with people who understand your business and the challenges it may present</li>
					<li>The use of local reference accounts</li>
					<li>Support from a highly-qualified and experienced team</li>
					<li>Peace of mind with ongoing support packages to keep R updated and your systems working smoothly</li>
				</ul>
				<img src="/images/added.jpg" alt="">
			</div>

			<div class="added-sec">
				<img src="/images/added-right.jpg" alt="">
			</div>
		</div>

		<h1 class="heading">Ready to revolutionise your data science pipeline?</h1>

		<div class="added-section-two">
			<div class="added-sec-two">
				<img src="/images/added-two.jpg" alt="">
			</div>

			<div class="added-sec-two">
				<p>We’ll help you take R and R-related software beyond your laptop and into your enterprise. Get ready to improve your team’s data science process with our support. We’ll take you through the processes needed for authentication and scaling up – and give you added peace of mind with a security health check for your dashboards</p>
				<p>Our administrators can provide professional services to complete any solutions built around RStudio products and offer practical hands-on training, implementation, management, and development services.</p>
			</div>
		</div>
	</div>
</div>

<!-- Added end section -->


<!-- Hancock start section -->

<div class="hancock">
	<div class="hancock-mid">
		<div class="hancock-section">
			<div class="hancock-sec">
				<img src="/images/hancock.jpg" alt="">
			</div>

			<div class="hancock-sec">
				<p>“Colin's excellent training on R is now the gold standard for my team. The combination of theory, practical examples, and his flair for instruction make the training very accessible and have really helped us leverage the power of R.”</p>
				<p>Alex Hancock, Global IT Manager, Data & Analytics at Shell International Petroleum Company</p>
			</div>
		</div>
	</div>
</div>

<!-- Hancock end section -->


<!-- Touch start section -->

<div class="touch">
	<div class="touch-mid">
		<h1>Get in touch with Jumping Rivers, your RStudio Certified Partner</h1>
		<p>Contact Colin on <a href="#">colin@jumpingrivers.com</a>, and we’ll arrange a call to discuss your project and its scope and complexity.</p>

		<div class="touch-link">
			<a href="#">GET IN TOUCH TODAY <i class="fa fa-angle-double-right"></i></a>
		</div>
	</div>
</div>

<!-- Touch end section -->




{{ partial "footer.html" . }}