<!-- Footer start Section  -->

<div class="footer-top">
	<div class="footer-top-mid">
		<ul>
			<li><a href="#">Website Terms Data and Privacy</a></li>
			<li>|</li>
			<li><a href="#">Booking Terms</a></li>
		</ul>
	</div>
</div>

<!-- Footer end Section  -->


<!-- Copy right start section -->

<div class="footer-bottom">
	<div class="footer-bottom-mid">
		<p> &copy;2020 Jumping Rivers | Site by Bugle Agency</p>
	</div>
</div>
<!-- Copy right end section -->




<!-- Scroll Top start button -->

<div class="scrolltop">
	<i class="fa fa-angle-up"></i>
</div>
<!-- Scroll Top end button -->


	


<!-- Js file link up -->

	<script src="/js/jquery-1.11.3.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.prettyPhoto.js"></script>
	<script src="/js/jquery.parallax-1.1.3.js"></script>
	<script src="/js/jquery-ui.min.js"></script>
	<script src="/js/mixitup.min.js"></script>
	<script src="/js/wow.js"></script>
	<script src="/js/custom.js"></script>
	<script src="/js/cart.js"></script>
	<script src="/script.js"></script>

</body>
</html>