<body>
  <!-- Header top start section -->
  <div class="header">
    <div class="header-mid">
      <div class="header-right">
        <div class="icon">
          <a href="#"><i class="fa fa-github-alt"></i></a>
          <span>Github</span>
        </div>

        <div class="icon">
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <span>LinkedIn</span>
        </div>

        <div class="icon">
          <a href="#"><i class="fa fa-twitter"></i></a>
          <span>Twitter</span>
        </div>

        <div class="icon">
          <a href="#"><i class="fa fa-youtube"></i></a>
          <span>YouTube</span>
        </div>

        <div class="icon">
          <a href="#"><i class="fa fa-rss"></i></a>
          <span>RSS</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Header top end section -->

  <!-- Header menu start section -->
  <div class="header-mid logo-up">
    <div class="logo">
      <img src="/images/logo.png" alt="" />
    </div>

    <div class="menu-res">
      <a href="#"><i class="fa fa-bars"></i> MENU</a>
    </div>
  </div>

  <div class="sticky">
    <div class="header-mid">
      <div class="main-menu">
        <a href="#" class="unscrolled"
          ><img src="/images/JR-Moblle-Sticky.jpg" alt="logo"
        /></a>
        <ul>
          <li class="current"><a href="#">HOME</a></li>
          <li>
            <a href="#">ABOUT<i class="fa fa-angle-down"></i></a>
            <ul>
              <li><a href="#">COMMUNITY</a></li>
            </ul>
          </li>
          <li>
            <a href="#">TRAINING <i class="fa fa-angle-down"></i></a>
            <ul>
              <li><a href="#">ALL COURSES</a></li>
              <li><a href="#">PUBLIC</a></li>
            </ul>
          </li>
          <li>
            <a href="#">CONSULTANCY <i class="fa fa-angle-down"></i></a>
            <ul>
              <li><a href="#">RSTUDIO PARTNER</a></li>
              <li><a href="#">DATA SCIENCE HEALTH CHECK</a></li>
            </ul>
          </li>
          <li><a href="#">CASE STUDIES</a></li>
          <li><a href="#">CONTACT</a></li>
          <li><a href="#">BLOG</a></li>
        </ul>
      </div>
    </div>
    <div class="bottom-border"></div>
  </div>

  <!-- Header menu end section -->
</body>
